.row
  .col-sm-12
    = simple_form_for [@line], authenticity_token: true, html: { id: 'LineForm', class: 'form-control' } do |f|
      #error_holder
        %ul#errors
      = f.error_notification
      %legend Number Settings
      %br
      .row
        .col-sm-12.col-md-6
          .form-group
            = f.input :name, label: 'Reference Name', id: 'InputName', required: true, placeholder: 'Marketing Line', autofocus: true
        .col-sm-12.col-md-6
          .form-group
            - if @line.persisted?
              %br
              %h3.text-muted
                Number:
                = @line.number
                %i.fa.fa-info-circle{"data-placement" => "right", "data-toggle" => "tooltip", :title => "You cannot edit this number once it has been reserved. You may, however, remove this number from your account and purchase a new one if you no longer want to use this one."}
              %br
            - else
              = f.input :number, as: :select, label: 'Select a Twilio™ number', collection: @numbers, label_method: :phone_number, value_method: :phone_number, include_blank: false
      %hr{color: '#0275d8'}
      %legend Voice Forwarding Settings
      %p.text-danger
        Use these settings to control what this phone number will do when it receives a phone call. If forwarding is not enabled, all phone calls made to this number will be
        %strong rejected.
        %br
        %strong Twilio charges $0.0085/minute for Voice forwarding.
        Learn more about call forwarding costs
        %a{href: 'https://support.twilio.com/hc/en-us/articles/223132367-How-much-am-I-charged-for-call-forwarding'} here.
      %br
      .row
        .col-sm-12.col-md-6
          .form-group
            = f.input :forwarding_enabled, label: 'Forwarding Enabled?', as: :boolean, inline_label: true
        .col-sm-12.col-md-6
          .form-group
            = f.input :forwarding_number, label: 'Forward To:', as: :tel, placeholder: '+13162588774'
      %hr{color: '#0275d8'}
      %legend Message Alert Settings
      %p.text-danger Use the options below to configure how you would like to notified of new inbound messages. Alerting via SMS will incur Twilio message sending costs.
      %br
      .row
        .col-sm-12.col-md-6
          .form-group
            = f.input :sms_alert, label: 'Alert via SMS', as: :boolean, inline_label: true
        .col-sm-12.col-md-6
          .form-group
            = f.input :sms_alert_number, label: 'Number to Alert:', as: :tel, placeholder: '+13162588774'
      .row
        .col-sm-12.col-md-6
          .form-group
            = f.input :email_alert, label: 'Alert via Email', as: :boolean, inline_label: true
        .col-sm-12.col-md-6
          .form-group
            = f.input :email_alert_address, label: 'Email Alert Address:', as: :email, input_html: {value: f.object.email_alert_address || current_user.email}
      - if current_user.admin_role?
        %hr{color: '#0275d8'}
        %legend Webhook Settings
        %p.text-danger Configure Webhook Settings Here
        .row
          .col-sm-12.col-md-6
            .form-group
              = f.input :sms_url
          .col-sm-12.col-md-6
            .form-group
              = f.input :voice_url
        %br
        %br
      .form-actions
        .text-center.text-danger
          - unless @line.persisted?
            By clicking this button you ackowledge that you are purchasing a number from Twilio™ and by doing so you accept any applicable charges related to the use of this line. For information about potential charges, visit Twilio's
            %a{href: 'https://www.twilio.com/sms/pricing', target: '_blank'} Pricing Guide.
            %br
            %br
          = f.hidden_field :user_id, value: @current_user.id
          = f.hidden_field :organization_id, value: @line.organization_id
          = f.button :submit, f.object.persisted? ? 'Save Line Settings' : 'Purchase This Line for $1/month', class: 'btn btn-md btn-success'
          %br
          %br

:coffeescript
  $('[data-toggle="tooltip"]').tooltip()
  $('[data-toggle="popover"]').popover()
