= simple_form_for [@line], authenticity_token: true, html: { id: 'LineForm', class: 'form-control' } do |f|
  #error_holder
    %ul#errors
  = f.error_notification
  .row
    .col-sm-12
      %h2
        %i.fa.fa-hashtag
        Buy a Line
  %legend Line Profile
  %p.text-info Use these settings to internally identify this phone number within your organization.
  .row
    .col-sm-12.col-md-6
      .form-group
        = f.input :name, label: 'Reference Name', id: 'InputName', required: true, placeholder: 'Marketing Line', autofocus: true
    .col-sm-12.col-md-6
      .form-group
        - if @line.persisted?
          %br
          %h5.text-muted
            Number:
            = @line.number
            %i.fa.fa-info-circle{"data-placement" => "right", "data-toggle" => "tooltip", :title => "You cannot edit this number once it has been reserved. You may, however, remove this number from your account and purchase a new one if you no longer want to use this one."}
          %br
        - else
          = f.input :number, as: :select, label: 'Select a Twilio™ number', collection: @numbers, label_method: :phone_number, value_method: :phone_number, include_blank: false
  %hr{style: "color: #333; border: 1px solid #333; width: 10%; margin-left: 0px; margin-top: 30px;"}
  %legend Accept Voice Calls?
  %p.text-info Use these settings to control what this phone number will do when it receives an inbound voice call.
  %br
  .row
    .col-sm-12.col-md-12
      .form-group
        = f.input :reject_voice_calls, label: 'Immediately Reject All Voice Calls?', as: :boolean, inline_label: true, class: 'text-danger'
        .help-block.text-danger Choosing this option overrides all other Voice settings, and rejects all inbound calls immediately. Choose this option to prevent this line from incurring any voice related charges.
  #voice_settings{style: "display: #{f.object.reject_voice_calls? ? 'none' : 'block'}"}
    %legend Voice Handling
    %p.text-info
      Use these settings to customize what will happen when someone tries to call this line. These settings are not available if the line is set to immediately reject all voice calls.
      Any text you put in the Auto Response field will be read aloud to the caller, automatically. Use this in conjunction with a fowarding number if you would like an auto-greeting for your line! Or, you can use this to advise callers that this is a texting-only line. Keep this message short to minimize your Twilio usage costs.
    .row
      .col-sm-12.col-md-6
        .form-group
          = f.input :voice_auto_response, label: 'Auto Response', as: :text
      .col-sm-12.col-md-6
        .form-group
          = f.input :voice_forwarding_number, label: 'Forward To #:', as: :tel

  %hr{style: "color: #333; border: 1px solid #333; width: 10%; margin-left: 0px; margin-top: 30px;"}
  %legend SMS Handling
  %p.text-info You can specify a message to automatically be sent if anyone tries to text this line directly. If you do, keep it short to minimize your costs. It not possible to completely block inbound text messages with Twilio at this time.
  %br
  .row
    .col-sm-12.col-md-12
      .form-group
        = f.input :sms_auto_response_text, label: 'Text Auto Response'

  .form-actions
    = f.hidden_field :user_id, value: @current_user.id
    = f.hidden_field :organization_id, value: @line.organization_id
    - if current_user.admin_role
      = f.button :submit, f.object.persisted? ? 'Save Line Settings' : 'Purchase This Line for $1/month', class: 'btn btn-block btn-md btn-success'
    - else
      = link_to lines_path, class: 'btn btn-block btn-md btn-outline-danger' do
        Back
    - unless @line.persisted?
      %br
      .text-center.text-danger
        By clicking this button you ackowledge that you are purchasing a number from Twilio™ and by doing so you accept any applicable charges related to the use of this line. For information about potential charges, visit Twilio's
        %a{href: 'https://www.twilio.com/sms/pricing', target: '_blank'} Pricing Guide.
        %br
  .row
    .col-sm-4.col-centered
      %img.img-fluid{src: asset_url('twilio-badge-red.png')}
:coffeescript
  checkbox = document.getElementById('line_reject_voice_calls')
  details_div = document.getElementById('voice_settings')
  checkbox.onchange = ->
    if @checked
      details_div.style['display'] = 'none'
    else
      details_div.style['display'] = 'block'
    return
