- if line.released_at
  %tr{id: "line_#{line.id}", class: 'table-danger'}
    %td= line.name
    %td{colspan: 6}
      = "Line was released:"
      = local_time_ago line.released_at, format: "%m/%d/%Y"
      by
      = User.find(line.released_by).try(:first_name)
- else
  %tr{id: "line_#{line.id}"}
    %td
      = link_to line.name, edit_line_path(line)
    %td= number_to_phone line.number.phony_formatted(normalize: :US, format: :international, spaces: ' ')
    %td.text-center
      - if line.reject_voice_calls?
        %i.fa.fa-times.text-danger{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Will reject all calls."}
      - else
        %i.fa.fa-check.text-success{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Configured to accept phone calls."}
        - if line.voice_forwarding_number.present?
          %i.fa.fa-arrow-right.text-info{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Forwarding to #{line.voice_forwarding_number.phony_formatted(normalize: :US, format: :international, spaces: ' ')}"}
        - if line.voice_auto_response.present?
          %i.fa.fa-volume-up.text-warning{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Saying: #{line.voice_auto_response}"}
    %td= local_time line.created_at, format: "%m/%d/%Y"
    %td.text-center
      %i.fa.fa-arrow-down.text-primary
      = line.messages.inbound.count
      %i.fa.fa-arrow-up.text-success
      = line.messages.outbound.count
    %td.text-center
      = link_to call_logs_path(line_id: line.id) do
        = number_with_delimiter line.call_logs.count
    %td.actions
      .pull-right
        .btn-group
          - if current_user.admin_role?
            = link_to edit_line_path(line), class: 'btn btn-sm btn-warning' do
              %i.fa.fa-pencil
