%h1 Listing lines

%table
  %thead
    %tr
      %th Organization
      %th User
      %th Twilio
      %th Number
      %th Name
      %th Forwarding enabled
      %th Forwarding number
      %th
      %th
      %th

  %tbody
    - @lines.each do |line|
      %tr
        %td= line.organization
        %td= line.user
        %td= line.twilio_id
        %td= line.number
        %td= line.name
        %td= line.forwarding_enabled
        %td= line.forwarding_number
        %td= link_to 'Show', line
        %td= link_to 'Edit', edit_line_path(line)
        %td= link_to 'Destroy', line, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Line', new_line_path
