%section#Contact
  %hr
  .section-header
    .section-title
      .row
        .col-sm-12.col-md-12.col-lg-12
          %h1.text-center Contact
          %p.text-center Questions? Get in touch with us.
  .section-content
    .row
      .col-xs-10.col-sm-10.col-md-8.col-lg-6.col-centered
        .card.card-outline-success
          .card-block
            = form_tag contact_path, method: 'post', remote: true, id: 'ContactMailingForm' do
              .row
                .col-sm-12.col-md-12
                  .form-group
                    %label.control-label Name*
                    = text_field_tag :name, @name, placeholder: "Enter your name...", class: "form-control", required: true
                .col-sm-12.col-md-12
                  .form-group
                    %label.control-label Email*
                    = text_field_tag :email, @email, placeholder: "Enter your email...", class: "form-control", required: true
                .col-sm-12
                  .form-group
                    %label.control-label Message*
                    = text_area_tag :message, @message, placeholder: "Enter your message...", rows: 2, class: "form-control", style: "min-height: 100px;", required: true
              .form-group
                = hidden_field_tag 'spam_check', 'gotcha.'
              .text-center
                = submit_tag 'Submit', class: 'btn btn-block btn-success btn-md'
