%tr{id: "message_#{message.id}"}
  %td
    - if message.direction == 'outbound'
      = local_time message.sent_at
    - else
      = local_time message.created_at
  %td
    - if message.direction == 'outbound'
      .text-success
        %i.fa.fa-arrow-up
        Out
    - else
      .text-primary
        %i.fa.fa-arrow-down
        In
  %td
    = message.contact.try(:first_name)
    = number_to_phone message.to
  %td
    = message.try(:message_request).try(:user).try(:first_name)
    = number_to_phone message.from
  %td= message.body
  %td= number_to_currency message.price_in_cents, precision: 4
