%tr{id: "employee_#{employee.id}"}
  %td= check_box_tag "employee_ids[]", employee.id
  %td= employee.first_name.titleize
  %td= employee.last_name.titleize
  %td= employee.title
  %td= number_to_phone employee.mobile_phone
  %td= employee.email
  %td= local_time employee.created_at, format: "%m/%d/%Y"
  %td
    - employee.tags.pluck(:name).each do |tag|
      %span.badge.badge-primary=tag

  %td.actions
    .btn-group
      = link_to edit_employee_path(employee), remote: true, class: 'btn btn-sm btn-default' do
        %i.fa.fa-send-o.text-success
      = link_to employee_path(employee), class: 'btn btn-sm btn-info' do
        %i.fa.fa-eye
      = link_to edit_employee_path(employee), remote: true, class: 'btn btn-sm btn-warning' do
        %i.fa.fa-pencil

/ ['First Name', 'Last Name', 'Title', 'Mobile', 'City', 'State', 'Zip', 'Added']
