.row
  .col-sm-12
    .card.card-default
      .table-responsive
        %table.table.table-hover
          %thead.thead-inverse
            %th.sortable= smart_listing.sortable 'Created', :date
            %th.sortable= smart_listing.sortable 'Amount', :amount_due
            %th.sortable= smart_listing.sortable 'Subscription', :subscription_id
            %th.sortable= smart_listing.sortable 'Paid', :paid
            %th
          %tbody#invoices
            - smart_listing.collection.each do |subscription|
              = render subscription
%br
.row
  .col-sm-12
    .pull-right
      = smart_listing.paginate
      = smart_listing.pagination_per_page_links
      %small Synchronized Hourly
