.row.hidden-print
  .col-sm-12
    .pull-right
      = link_to "Print This", '#', class: "btn btn-sm btn-primary", onclick: 'window.print();return false;'

%br
.row
  .col-12
    %h1
      %i.fa.fa-comments-o
      TmT
.row
  .col-6
    %h3
      - if @invoice.paid?
        Invoice
        %span.badge.badge-success{style: "font-size: 20px;"} PAID!
      - else
        Invoice
        %span.badge.badge-danger{style: "font-size: 20px;"} PAST DUE!
  .col-6
    .pull-right
      %h3= "#" + @invoice.number
%hr
.row
  .col-12
    %table.table.table-bordered
      %thead
        %tr
          %th Description
          %th Starts
          %th Ends
          %th Amount
        %tbody
          - @stripe_invoice.lines.each do |line|
            %tr
              %td= line.plan.name
              %td= local_time Time.at(line.period.start), format: "%m/%d/%Y"
              %td= local_time Time.at(line.period.end), format: "%m/%d/%Y"
              %td= number_to_currency line.amount / 100
          - if @invoice.discount_code
            %tr.table-success
              %td{colspan: 3}
                Discount Code:
                = @invoice.discount_code
              %td= number_to_percentage @stripe_invoice.discount.try(:coupon).try(:percent_off)
          %tr.table-info
            %td{colspan: 3}
              %strong Total
            %td
              %strong= number_to_currency @invoice.amount_due / 100

%hr
.row
  .col-6
    %h4 Notes
    %p
      The total due does not include your Twilio Usage charges.
      Those are paid separately, directly to Twilio, per your Twilio account settings.
  .col-6
    %h4 Payment Instructions
    %p Payment is automatically made at Period Start using the payment method you specified on your account settings profile. Any future changes to payment method used can be made there.

:css
  @media print {
    *::first-letter {
      position: relative !important;
    }
  }
