- provide(:title, "Message Request ##{@message_request.id}")
.row
  .col-sm-12
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to message_requests_path do
          %i.fa.fa-paper-plane-o
          Message Requests
      %li.breadcrumb-item.active= "Message Request ##{@message_request.id}"

.row
  .col-sm-12.col-md-6.col-lg-4
    .row
      .col-sm-8.col-md-8
        %h2 Details
    = render partial: 'message_requests/profile'

  .col-sm-12.col-md-6.col-lg-8
    %h2 Expected Recipients
