= simple_form_for [@organization, @user], remote: true, authenticity_token: true, html: { id: 'UsersForm' } do |f|
  .form-group
    = f.input :first_name, autofocus: true
  .form-group
    = f.input :last_name
  .form-group
    = f.input :mobile_phone, as: :tel
  .form-group
    = f.input :email, as: :email
  - unless current_user.id == @organization.created_by
    .form-group
      .help-block.text-danger Only check this box if you want this user to be able to buy lines, change lines, and edit organization settings.
      = f.input :admin_role
  .form-group
    = f.input :timezone, priority: /US/, as: :time_zone
  %br
  %p.lead Notification Settings
  .form-group
    = f.input :notify_instantly, hint: "Send this user an email every time an inbound message is received."
    = f.input :summarize_daily, hint: "Send this user an email every day summarizing inbound and outbound messaging activity."
    = f.input :summarize_weekly, hint: "Send this user an email every Monday summarizing the previous week's messaging activity."
  %br
  .form-actions.col-centered
    = f.button :submit, class: 'btn btn-md btn-success'
