%tr{class: user.admin_role? ? 'table-success' : '', id: "user_#{user.id}"}
  %td= user.id
  %td= user.first_name
  %td= user.last_name
  %td= user.email
  %td= local_time user.created_at
  %td.actions
    .btn-group
      = link_to edit_user_path(user), remote: true, class: 'btn btn-sm btn-warning' do
        %i.fa.fa-edit
      = link_to user_path(user), class: 'btn btn-sm btn-info' do
        %i.fa.fa-eye
      = link_to user_path(user), method: :delete, remote: true, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-trash
