%tr{id: "user_#{user.id}"}
  %td= user.first_name
  %td= user.last_name
  %td= user.email
  %td.actions
    .btn-group
      = link_to user_path(user), class: 'btn btn-sm btn-info' do
        %i.fa.fa-eye
      = link_to user_path(user), method: :delete, remote: true, class: 'btn btn-sm btn-danger' do
        %i.fa.fa-trash
