- provide(:title, "#{@user.first_name || @user.last_name}")
.row
  .col-sm-12
    %h4
      %i.fa.fa-user
      = @user.try :first_name

.row
  .col-sm-12.col-md-4
    .table-responsive.card.table-card
      %table.table.table-condensed
        %thead.thead-inverse
          %th{colspan: 2}
            %h6.text-white Profile Details
        %tbody
          %tr
            %td
              %strong Name
            %td
              =@user.first_name
              =@user.last_name
          %tr
            %td
              %strong Admin?
            %td
              - if @user.admin_role?
                %i.fa.fa-check.text-success
              - else
                %i.fa.fa-times.text-danger
          %tr
            %td
              %strong Invited By
            %td= @user.inviter.try(:first_name)
          %tr
            %td
              %strong Phone
            %td= number_to_phone @user.mobile_phone.phony_formatted(normalize: :US, format: :international, spaces: ' ')
          %tr
            %td
              %strong Email
            %td= mail_to @user.email
          %tr
            %td
              %strong Started
            %td= local_time_ago @user.created_at
          %tr
            %td
              %strong Updated
            %td= local_time_ago @user.updated_at
          %tr
            %td
              %strong TimeZone
            %td= @user.timezone
  .col-sm-12.col-md-4
    .table-responsive.card.table-card
      %table.table.table-condensed
        %thead.thead-inverse
          %th{colspan: 2}
            %h6.text-white Activity
        %tbody
          - @ahoy_events.each do |event|
            %tr
              %td= event.name
              %td= local_time_ago event.time
  .col-sm-12.col-md-4
    .table-responsive.card.table-card
      %table.table.table-condensed
        %thead.thead-inverse
          %th{colspan: 2}
            %h6.text-white Emails
        %tbody
          - @ahoy_emails.each do |email|
            %tr
              %td= email.subject
              %td= local_time_ago email.sent_at
