= render partial: 'filter_fields', locals: { smart_listing: smart_listing }
%br
.row
  .col-sm-12
    .card
      .table-condensed
        %table.table.table-hover
          %thead.thead-inverse
            %th= smart_listing.sortable 'Date', :created_at
            %th= smart_listing.sortable 'From', :from
            %th= smart_listing.sortable 'Forwarded?', :forwarded
            %th
              = smart_listing.sortable 'Seconds', :duration_in_seconds
              %i.fa.fa-info-circle{"data-placement" => "top", "data-toggle" => "tooltip", :title => "This is what Twilio reports."}
          %tbody#call_logs
            - if smart_listing.count > 0
              - smart_listing.collection.each do |call_log|
                = render call_log
            - else
              %tr
                %td{colspan: 5} No call logs match these parameters.
