= render 'imports/instructions'
.row
  .col-sm-12
    = simple_form_for [@import], authenticity_token: true, :html => { id: 'ImportForm' } do |f|
      #error_holder
        %ul#errors
      = f.error_notification
      %p.lead.text-danger
        Remember: this file
        %strong MUST
        be a file saved as a CSV (.csv). Excel Spreadsheets (.xls, .xlxs) may work, but, they are not supported.
      .form-group
        = f.input :datafile, label: 'My CSV File:', as: :file, class: 'form-control-file', id: 'inputDatafile', required: true, autofocus: true
        .text-center
          = f.hidden_field :type, value: 'contact'
          = f.hidden_field :organization_id, value: current_user.organization_id
          = f.hidden_field :created_by, value: current_user.id
          = f.submit 'Import this File', class: 'btn btn-success btn-md', id: 'ImportSubmit'
