%tr{id: "contact_#{contact.id}"}
  %td= check_box_tag "contact_ids[]", contact.id
  %td
    = link_to contact.full_name, contact_path(contact)
  %td= contact.title
  %td= number_to_phone contact.mobile_phone.phony_formatted(normalize: :US, format: :international, spaces: ' ')
  %td= mail_to contact.email
  %td= local_time contact.last_messaged_at, format: "%m/%d/%Y" rescue ''
  %td
    - contact.tags.pluck(:name).each do |tag|
      %span.badge.badge-primary=tag

  %td.actions
    .btn-group
      - if @organization_can_message
        = link_to new_message_request_path(contact_ids: [contact.id]), remote: true, class: 'btn btn-sm text-success', title: "Message this Member", 'data-toggle' => 'tooltip', 'data-placement' => 'left' do
          %i.fa.fa-send-o
      = link_to contact_path(contact), class: 'btn btn-sm btn-info', title: "See this members' Messaging History", 'data-toggle' => 'tooltip', 'data-placement' => 'left' do
        %i.fa.fa-eye
      = link_to edit_contact_path(contact), remote: true, class: 'btn btn-sm btn-warning', title: "Edit this Member", 'data-toggle' => 'tooltip', 'data-placement' => 'left' do
        %i.fa.fa-pencil
