- if params[:flash_instructions]
  %div.alert.alert-info To compose a new message, first select the contacts to whom you would like it sent.
- provide(:title, 'Contacts')
.row
  .col-sm-12
    %h4
      %i.fa.fa-address-book
      Directory
      .pull-right
        = link_to new_contact_path(organization_id: params[:organization_id]), remote: true, class: 'btn btn-sm btn-success', title: "Add individual member.", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
          %i.fa.fa-plus
          Add New
        = link_to new_import_path, remote: true, class: 'btn btn-sm btn-primary', title: "Upload Contacts via CSV", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' do
          %i.fa.fa-upload
          Upload
%br
.row
  .col-sm-12
    = smart_listing_render :contacts
= render "contacts/dialog"
= render "message_requests/dialog"
= render "imports/dialog"
