- if params[:flash_instructions]
  %div.alert.alert-info To compose a new message, first select the contacts to whom you would like it sent.
- unless @organization_can_message
  %div.alert.alert-warning
    %p.lead
      %i.fa.fa-exclamation-triangle
      Heads up!
    %p
      You cannot actually send any messages until you
      %a{href: lines_path} add a line.

- provide(:title, 'Contacts')
.row
  .col-sm-12
    %h4
      %i.fa.fa-address-book
      Directory
      .pull-right
        = link_to new_contact_path(organization_id: params[:organization_id]), remote: true, class: 'btn btn-sm btn-success' do
          %i.fa.fa-plus{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Add a single contact"}
        = link_to new_import_path, class: 'btn btn-sm btn-primary', title: "Upload Contacts via CSV", 'data-toggle' => 'tooltip', 'data-placement' => 'left' do
          %i.fa.fa-upload
        = link_to contacts_path(format: :csv), class: 'btn btn-outline-warning btn-sm', title: "Download all members to a CSV.", 'data-toggle' => 'tooltip', 'data-placement' => 'left' do
          %i.fa.fa-download
.row
  .col-sm-12
    = smart_listing_render :contacts
= render "contacts/dialog"
= render "message_requests/dialog"
= render "imports/dialog"
