- provide(:title, "#{@contact.first_name}")
.row
  .col-sm-12
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to contacts_path do
          %i.fa.fa-directory
          Contacts
      %li.breadcrumb-item.active= "#{@contact.try(:first_name)}'s Profile"

.row
  .col-sm-12.col-md-6.col-lg-4
    .row
      .col-sm-8.col-md-8
        %h2 Profile
      .col-sm-4.com-md-4
        = link_to edit_contact_path(@contact), remote: true, class: 'btn btn-warning btn-sm pull-right' do
          %i.fa.fa-edit
    .table-responsive.card.card-outline-default.table-card
      %table.table
        %thead.thead-inverse
        %tbody
          %tr
            %td
              %strong Name
            %td
              =@contact.try(:first_name)
              = @contact.try(:last_name)
          %tr
            %td
              %strong Tags
            %td
              - @contact.tags.pluck(:name).each do |tag|
                %span.badge.badge-primary=tag
          %tr
            %td
              %strong Title
            %td=@contact.title
          %tr
            %td
              %strong Phone
            %td
              = number_to_phone @contact.mobile_phone
          %tr
            %td
              %strong Email
            %td= mail_to @contact.email
          %tr
            %td
              %strong Added
            %td= local_time_ago @contact.created_at
          %tr
            %td
              %strong Updated
            %td= local_time_ago @contact.updated_at
          %tr
            %td
              %strong Address
            %td
              = @contact.address_line
              = "#{@contact.address_city}, #{@contact.address_state} #{@contact.address_zip}"


  .col-sm-12.col-md-6.col-lg-8
    %h2 History
    #messages_placeholder

-# / ["id", "organization_id", "first_name", "last_name", "email", "mobile_phone",
-# / "title", "preferred_language", "birthday", "address_line", "address_city",
-# / "address_state", "address_zip", "started_at", "ended_at", "last_messaged_at",
-# / "created_at", "updated_at", "phone_is_valid_for_sms", "is_active"]
