- provide(:title, "#{@contact.first_name}")
.row
  .col-sm-12
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to contacts_path do
          %i.fa.fa-directory
          Contacts
      %li.breadcrumb-item.active= "#{@contact.try(:first_name)}'s Profile"

.row
  .col-sm-12.col-md-6.col-lg-4
    .row
      .col-sm-8.col-md-8
        %h2 Profile
      .col-sm-4.com-md-4
        = link_to edit_contact_path(@contact), remote: true, class: 'btn btn-warning btn-sm pull-right' do
          %i.fa.fa-edit
    = render partial: 'contacts/profile'



  .col-sm-12.col-md-6.col-lg-8
    %h2 History
    #messages_placeholder
