%h1 Listing message_recipients

%table
  %thead
    %tr
      %th Message
      %th Employee
      %th To number
      %th From number
      %th Twilio
      %th Sent at
      %th Error message
      %th
      %th
      %th

  %tbody
    - @message_recipients.each do |message_recipient|
      %tr
        %td= message_recipient.message
        %td= message_recipient.employee
        %td= message_recipient.to_number
        %td= message_recipient.from_number
        %td= message_recipient.twilio_id
        %td= message_recipient.sent_at
        %td= message_recipient.error_message
        %td= link_to 'Show', message_recipient
        %td= link_to 'Edit', edit_message_recipient_path(message_recipient)
        %td= link_to 'Destroy', message_recipient, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message recipient', new_message_recipient_path
