= simple_form_for [:admin, @plan], remote: true, authenticity_token: true, html: { id: 'planForm' } do |f|
  .row
    .col-sm-12
      #error_holder
        %ul#errors
        = f.error_notification
  .row
    .col-sm-12
      - if @plan.is_available
        %i.fa.fa-check.text-success Available for New Subscriptions
      - else
        %i.fa.fa-check.text-danger Not Available for new Subscriptions
      %small.text-info Plan Availability is controlled by MetaData settings in stripe.
      %hr
      %p.lead Permissions
      = f.input :can_add_users, as: :boolean
      = f.input :can_send_mms, as: :boolean
      = f.input :can_schedule_messages, as: :boolean
      = f.input :can_upload_contacts, as: :boolean
      = f.input :can_add_lines, as: :boolean
      .form-actions
        .text-center
          = f.button :submit, class: 'btn btn-md btn-success'
