- provide(:title, 'Sign Up')
.row
  .col-sm-12
    .text-center
      %img.img-fluid{src: @organization.logo.url, style: 'max-height: 100px;'}
      %hr
      %br
      %p= @organization.signup_text
      %br
  .col-sm-12
    .card
      .card-block
        = simple_form_for @contact, url: organization_signup_path(@organization), action: 'signup', authenticity_token: true, html: { id: 'OrganizationContactForm' } do |f|
          .row
            .col-sm-12
              #error_holder
                %ul#errors
              = f.error_notification
          .row
            .col-sm-12.col-md-6
              .form-group
                = f.input :first_name, label: 'First Name', autofocus: true, required: true
            .col-sm-12.col-md-6
              .form-group
                = f.input :last_name, label: 'Last Name', required: true
          .row
            .col-sm-12.col-md-12
              .form-group
                = f.input :mobile_phone, label: 'MOBILE Phone', required: true, placeholder: '(316) 258-8774'
          .row
            .col-sm-12.col-md-8
              .form-group
                = f.input :address_city, label: 'City', required: true
            .col-sm-12.col-md-4
              .form-group
                = f.input :address_state, as: :select, label: 'State', collection: us_states
          %br
          .row
            .col-sm-12
              .form-group
                = f.input :is_active, as: :boolean, label: "Receive text messages from #{@organization.name}", hint: 'Uncheck this box to opt out.', input_html: { checked: true }
          %br
          .row
            .col-sm-12
              .form-actions
                .text-center
                  = f.hidden_field :organization_id, value: @contact.organization_id
                  = f.button :submit, 'Submit', class: 'btn btn-md btn-success'
