.row
  .col-sm-12.col-md-6.col-lg-5.col-centered
    .card.card-outline-primary.mt-4
      .card-block
        .row
          .col-sm-12
            %h2 Forgetting Something?
            %p.text-primary No worries. We'll send you some instructions for resetting your password and getting back in.
        %br
        .row
          .col-sm-12
            = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
              = f.error_notification
              .form-inputs
                .form-group
                  = f.input :email, required: true, autofocus: true
              .form-actions
                = f.button :submit, "Reset Me", class: 'btn btn-success pull-right'
            = render "users/shared/links"
