= simple_form_for [@organization], authenticity_token: true, multipart: true, html: { id: 'OrganizationsForm' } do |f|
  .row
    .col-sm-12
      #error_holder
        %ul#errors
      = f.error_notification
      = f.input :created_by, as: :hidden, input_html: { value: current_user.id }
  .row
    .col-sm-12.col-md-12
      .form-group
        = f.input :name, hint: 'ie: United Apartment Group, EngergyX Fitess, Bald Man Brewing', autofocus: true
  .row
    .col-sm-12.col-md-12
      .form-group
        = f.input :email_domain, as: :email, label: 'Billing Email', required: true, hint: 'The email address to which you want TMT receipts sent.'
  .row
    .col-sm-12.col-md-6
      .form-group
        = f.input :phone, label: 'Main Phone', required: true, hint: 'Same as what you would put on a business listing.', as: :tel
    .col-sm-12.col-md-6
      .form-group
        = f.input :preferred_area_code, label: 'Area Code', as: :integer, required: true, hint: 'Use the same area code as your business, ideally. This affects the area codes available to you when you add a line.', max: 999, required: true
  .row
    .col-sm-12
      .form-group
        = f.input :signup_text, label: "Sign Up Page Message", as: :text, required: false, hint: "Use this Message on your Organiation's signup page."
    .col-sm-12
      .form-group
        %label Add A Picture
        = f.input :logo, label: false, class: 'form-control', hint: 'PNG, JPEG, and GIF are presently supported.'
  .row
    .col-sm-12
      .form-actions
        .text-center
          = f.button :submit, class: 'btn btn-block btn-success', id: 'submit-button'
