= simple_form_for [@organization], remote: true, authenticity_token: true, html: { id: 'OrganizationsForm' } do |f|
  = f.input :created_by, value: current_user.id, as: :hidden
  .form-group
    = f.input :name, id: 'InputName'
  .form-group
    = f.input :email_domain, id: 'InputEmailDomain'
  .form-group
    = f.input :city, id: 'City'
  .form-group
    = f.input :state, id: 'State'
  .form-group
    = f.input :zip, id: 'Zip'
  .form-actions
    .text-center
      = f.button :submit, class: 'btn btn-md btn-success'
