= simple_form_for [@organization], remote: true, authenticity_token: true, html: { id: 'OrganizationsForm' } do |f|
  = f.input :created_by, as: :hidden, input_html: { value: current_user.id }
  .form-group
    = f.input :name, id: 'InputName'
  .form-group
    = f.input :email_domain
  .form-group
    = f.input :city
  .form-group
    = f.input :state
  .form-group
    = f.input :zip
  .form-group
    = f.input :phone
  .form-actions
    .text-center
      = f.button :submit, class: 'btn btn-md btn-success'
