- unless smart_listing.empty?
  .table-responsive
    %table.table.table-hover.table-bordered
      %thead.thead-inverse
        %th
        %th= smart_listing.sortable "Name", :name
        %th= smart_listing.sortable "Email", :email_domain
        %th= smart_listing.sortable "City", :city
        %th= smart_listing.sortable "State", :state
        %th= smart_listing.sortable "State", :zip
        %th
      %tbody#users
        - smart_listing.collection.each do |user|
          = render user
  = smart_listing.paginate
  .text-warning
    = smart_listing.pagination_per_page_links
- else
  .alert.alert-danger
    %p No Organizations!
