%tr{id: "organization_#{organization.id}"}
  %td= organization.name
  %td= organization.email_domain
  %td= organization.city
  %td= organization.state
  %td= organization.zip
  %td= number_to_phone @organization.phone, area_code: true
  %td= local_time organization.created_at
  %td= local_time organization.updated_at
  %td.actions
    = link_to edit_organization_path(organization), remote: true, class: 'btn btn-sm btn-warning' do
      %i.fa.fa-edit
