.table-responsive.card.table-card
  %table.table
    %thead.thead-inverse
      %th
        %h6.text-white Profile
      %th
        .pull-right
          - if current_user.admin_role?
            = link_to edit_organization_path, remote: true, class: 'btn btn-sm btn-warning' do
              %i.fa.fa-edit
              Edit
    %tbody
      %tr
        %td
          %strong Name
        %td=@organization.name
      %tr
        %td
          %strong Email
        %td=@organization.email_domain
      %tr
        %td
          %strong Phone
        %td= number_to_phone @organization.phone.phony_formatted(normalize: :US, format: :international, spaces: ' ')
      %tr
        %td
          %strong
            Twilio
        %td
          - if @organization.twilio_auth_id.present?
            .text-success
              %i.fa.fa-check-circle
              Connected!
              -# - if @current_organization.lines.count < 1
              -#   .pull-right
              -#     %a.btn.btn-sm.btn-warning{href: "https://www.twilio.com/authorize/#{ENV['TWILIO_HYDRA_SID']}?state=#{@organization.id}"}
              -#       %i.fa.fa-exchange{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Use this to change your Twilio account."}
              -#     = link_to organization_path(@organization_path, twilio_auth_id: nil), :method => :put, :confirm => "Are you sure? This will render your account relatively useless, and could really mess with your data.")
              -#       %i.fa.fa-ban{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Use this to completely disconnect your Twilio account. This will render TmT unusable until a new account is connected."}
          - else
            = link_to 'Connect Your Account', "https://www.twilio.com/authorize/#{ENV['TWILIO_HYDRA_SID']}?state=#{@organization.id}"
      %tr
        %td
          %strong Logo
        %td
          %img.img-fluid{src: @organization.logo.url}
      %tr
        %td
          %strong Welcome Message
        %td
          %em= @organization.signup_text
