- provide(:title, "Settings")
.row
  .col-sm-12.col-md-4
    %h4
      %i.fa.fa-gears
      Settings
    = render 'organizations/profile'
    %br
    - if @card.present?
      = render 'organizations/card_details'
    - else
      = render 'organizations/no_card_info'
    %br
    - if @subscription.present?
      = render 'organizations/subscription_info'
    - elsif @card.present?
      = render 'organizations/no_subscription'
    - else
      %div.alert.alert-warning
        %h4 First, add a billing method!
        %p Before you subscribe, we need an active billing method on file.
  .col-sm-12.col-md-8
    - if @organization.invoices.present?
      #invoices_placeholder

= render 'organizations/dialog'
= render 'billing_methods/dialog'
= render 'subscriptions/dialog'
