%br
%br
.row
  .col-sm-12
    %h1 Settings
%br
%br
.row
  .col-sm-4
    %h3
      Profile
      = link_to edit_organization_path, remote: true, class: 'btn btn-warning btn-sm' do
        %i.fa.fa-edit
    .row
      .col-sm-12
        = render 'organizations/profile'
  %br
  %br
  .col-sm-4
    %h3
      Billing Method
      = link_to new_organization_billing_method_path(@organization), remote: true, class: 'btn btn-success btn-sm', id: 'NewMethodButton' do
        %i.fa.fa-plus

    .row
      .col-sm-12
        - if @card.present?
          = render 'organizations/card_details'
        - else
          = render 'organizations/no_card_info'
  %br
  %br
  .col-sm-4
    %h3 
      Subscription
      - if @subscription
        = link_to organization_subscription_path(@organization), method: :delete, class: 'btn btn-warning btn-sm' do
          %i.fa.fa-ban
      - elsif @subscription.nil? && @card.present?
        = link_to new_organization_subscription_path(@organization), remote: true, class: 'btn btn-warning btn-sm' do
          %i.fa.fa-plus
    - if @subscription.present?
      .row
        .col-sm-12
          = render 'organizations/subscription_info'
    - elsif @card.present?
      = render 'organizations/no_subscription'
    - else
      %div.alert.alert-warning
        %h4 First, add a billing method!
        %p Before you subscribe, we need an active billing method on file.


= render 'organizations/dialog'
= render 'billing_methods/dialog'
= render 'subscriptions/dialog'
