.card
  .card-block
    .row
      .col-sm-12
        %h2= t 'devise.invitations.edit.header'
    .row
      .col-sm-12
        = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f|
          = devise_error_messages!
          = f.hidden_field :invitation_token
          .form-inputs
            .row
              .col-sm-12.col-md-6
                .form-group
                  = f.input :first_name, autofocus: true
              .col-sm-12.col-md-6
                .form-group
                  = f.input :last_name
            .row
              .col-sm-12.col-md-6
                .form-group
                  = f.input :mobile_phone, label: 'Mobile Phone', as: :tel
              .col-sm-12.col-md-6
                .form-group
                  = f.input :email, as: :email
            .row
              .col-sm-12.col-md-6
                .form-group
                  = f.input :password, label: 'Set Your Password'
              .col-sm-12.col-md-6
                .form-group
                  = f.input :password_confirmation, label: 'Confirm You Password'
          .form-actions
            = f.button :submit, t("devise.invitations.edit.submit_button"), class: 'btn btn-block btn-md btn-success'
