!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    %script{:src => "https://js.stripe.com/v3/"}
    %title
      = full_title('TMT', yield(:title))
  %body{id: "#{controller_name}_#{action_name}", class: "#{controller_name}"}
    = include_gon(:init => true)
    .container
      .row{style: "margin-top: 8%"}
        .col-sm-12.col-md-6.col-lg-5.col-centered
          %h1.text-center TextMy.Team
          .unobtrusive-flash-container
          = yield
