- provide(:title, 'Registration')
%h4
  %i.fa.fa-user
  Profile
.row
  .col-sm-12.col-md-6
    .card.card-default
      .card-block
        .row
          .col-sm-12
            %h2 Edit My Account
            %p Edit your account settings below.
        %hr
        .row
          .col-sm-12
            = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
              = f.error_notification
              .form-inputs
                .row
                  .col-sm-12.col-md-6
                    .form-group
                      = f.input :first_name, required: true, autofocus: true, autofocus: true
                  .col-sm-12.col-md-6
                    .form-group
                      = f.input :last_name, required: true, autofocus: true
                .row
                  .col-sm-12.col-md-6
                    .form-group
                      = f.input :mobile_phone, required: true, autofocus: true, as: :tel
                  .col-sm-12.col-md-6
                    .form-group
                      = f.input :email, required: true, autofocus: true
                - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  .row
                    .col-sm-12
                      %p
                        Currently waiting confirmation for: #{resource.unconfirmed_email}
                .row
                  .col-sm-12.col-md-6
                    .form-group
                      = f.input :password, autocomplete: "off", hint: "leave it blank to remain unchanged", required: false
                  .col-sm-12.col-md-6
                    .form-group
                      = f.input :password_confirmation, hint: "leave it blank to remain unchanged", required: false
                .row
                  .col-sm-12
                    .form-group
                      = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
              .form-actions
                = f.button :submit, "Update", class: 'btn btn-block btn-success'
  - if current_user.admin_role?
    .col-sm-12.col-md-4
      .card.card-outline-danger
        .card-block
          .row
            .col-sm-12
              %h3 Cancel My Account
              %hr
              %p
                Unhappy? We're sorry to hear that. Be sure to check with your account's administrator before cancelling your account.
                %strong.text-danger IT WILL COST $100 TO RESTORE YOUR ACCOUNT SHOULD YOU MISTAKENLY CANCEL IT!
              %br
              #{link_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-block'}
